<div class="container cars-info">
  <div class="row car-info-wrapper">
    <div class="col-sm-12">
      <div class="car">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-thumb">
              <img src="{{ car.image }}">
            </div>
          </div>
          <div class="col-sm-12">
            <h2 class="title">{{ car.brand }} {{ car.model }}</h2>
            <div class="description">
              {{ car.description }}
            </div>
            <div class="additionals">
              <h3>Запчасти</h3>
              <ul>
                <li *ngFor="let spare of car.spares">
                  <span>{{ spare }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>